.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%; 
    height: 140px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto; /* Auto margin horizontally centers the container */
    box-shadow: 3px 3px #b9b9b9;
}

.teamname {
    font-weight: bolder;
    font-size: 15px;
}
